.account-page {
  font-family: Arial, sans-serif;
  background-image: url('/images/im4.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 30px;
  color: #f9f6f6;
  font-weight: bold;
}

.account-header {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(180deg, #FF0075, #8C52FF);
  color: white;
}

.courses-info1 {
  text-align: center;

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
  }
}

.courses-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 20px;
  margin: 0;
  padding: 0;
}

.course-card {
  position: relative;
  // background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 90%;
  padding: 0;
  margin: 0;

  &:hover {
    transform: translateY(-10px);
  }
}

.course-image-container {
  // background-color: transparent;p

  position: relative;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

.course-image {
  object-fit: cover;
}

.status-button {
  position: absolute;
  font-size: 13px;
  top: 80px;
  right: 15px;
  padding: 4px 6px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;

  &.Not-Started {
    background-color: red;
    // color: black;
  }

  &.In-Progress {
    background-color: yellow;
    color: black; // Optional, for better contrast with yellow background
  }

  &.Completed {
    background-color: green;
  }

  &:hover {
    opacity: 0.8;
  }
}

