.menu-button {
    display: none;
    position: absolute;
    top: 23px;
    left: 5px;
    z-index: 1000;
    // background-color: #ffffff;
    color: #4b4b4b;
    border: none;
    padding: 0.2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  @media (max-width: 2000px) {
    .menu-button {
      display: block;
    }
  
    .sidebar {
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  
    .sidebar.open {
      transform: translateX(0);
    }
  }
  
  @media (min-width: 2001px) {
    .menu-button {
      display: none;
    }
  
    .sidebar {
      transform: none;
    }
  }
.sidebar {
    width: 350px; /* Adjust the width as needed */
    background-color: rgb(235, 231, 231); /* Adjust the background color as needed */
}
  