.menu-button {
  display: none;
  position: absolute;
  top: 21px;
  left: 18px;
  z-index: 1000;
  color: #000000;
  border: none;
  padding: rem;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 2000px) {
  .menu-button {
  display: none;
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 1000;
  color: #363636;
  border: none;
  padding: rem;
  font-size: 1.5rem;
  cursor: pointer;
    display: block; // Show the menu button on smaller screens
  }

  .sidebar {
    width: 350px; // Ensure the sidebar has the same width as defined for larger screens
    transform: translateX(-100%); // Hide the sidebar by moving it off-screen
    transition: transform 0.3s ease; // Smooth slide animation
  }

  .sidebar.open {
    transform: translateX(0); // Slide the sidebar back into view when open
  }
}

@media (min-width: 2001px) {
  .menu-button {
    display: none; // Hide the menu button on larger screens
  }

  .sidebar {
      transform: none;
  }

  .content-container {
    margin-left: 350px; // Adjust the content container to account for the sidebar's width
    padding: 1rem;
  }
}


.sidebar {
  width: 350px; /* Adjust the width as needed */
  background-color: rgb(235, 231, 231); /* Adjust the background color as needed */
}
