@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.sidebar {
  width: 350px;
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  
  &.closed {
    width: 0;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    width: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &.open {
      width: 250px;
      transform: translateX(0);
      transition: transform 0.3s ease;
    }
  }

  .profile {
    text-align: center;
    margin-bottom: 20px;

    .avatar {
      border-radius: 50%;
      border: 5px solid #ddd;
      cursor: pointer;
      object-fit: cover;
    }

    .role {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: bold;
      color: #0075d4;
      padding: 10px 20px;
      border-radius: 30px;
      margin-bottom: 15px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .viewProfile {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Add some padding to avoid content touching the scrollbar */
    cursor: pointer;

    .navItem {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      text-decoration: none;
      color: #333;
      border-radius: 15px;
      margin-bottom: 10px;
      transition: background-color 0.3s, color 0.3s;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover {
        background-color: #e9ecef;
        color: #007bff;

        svg {
          color: #007bff;
        }
      }

      svg {
        margin-right: 10px;
        font-size: 1.7rem;
        transition: color 0.3s;
      }

      &.home {
        background-color: #ff6347; /* Tomato */
        color: white;

        &:hover {
          background-color: #ff6347;
        }
      }

      &.tests {
        background-color: #ff6347; /* SteelBlue */
        color: white;

        &:hover {
          background-color: #ff6347;
        }
      }

      &.test {
        background-color: #403ec0; /* SteelBlue */
        color: white;

        &:hover {
          background-color: #605de1;
        }
      }

      &.classes {
        background-color: #32cd32; /* LimeGreen */
        color: white;

        &:hover {
          background-color: #32cd32;
        }
      }

      &.teachers {
        background-color: #ff8c00; /* DarkOrange */
        color: white;

        &:hover {
          background-color: #ff8c00;
        }
      }

      &.events {
        background-color: #8a2be2; /* BlueViolet */
        color: white;

        &:hover {
          background-color: #8a2be2;
        }
      }

      &.school {
        background-color: #888211; /* BlueViolet */
        color: rgb(243, 244, 243);

        &:hover {
          background-color: #8f9a12;
        }
    }
    &.logout {
      background-color: #ee2e08; /* BlueViolet */
      color: white;

      &:hover {
        background-color: #d3340c;
      }
    }

  }
  }
}

// Full-Screen Modal Styles
.avatarModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); // Darker overlay for full-screen
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .modalContent {
    background: #ffeb3b;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; // Added for close button positioning

    .closeButton {
      background: transparent;
      border: none;
      font-size: 24px;
      color: #555;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .avatarTabs {
      display: flex;
      flex-direction: column; // Stack tabs vertically
      width: 100%;
      height: 100%;
      overflow-y: auto; // Allow scrolling if content overflows

      .avatarTab {
        flex: 1;
        padding: 10px;

        h3 {
          margin-bottom: 10px;
          font-weight: bold;
        }

        .avatarList {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .avatarOption {
            margin: 5px;
            cursor: pointer;

            img {
              border-radius: 50%;
              border: 2px solid #ddd;
              transition: transform 0.3s;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
