.puzzle-arena-page {
  padding: 30px;
  background-color: #f0f4f8;
  min-height: 100vh;
}

.puzzle-arena-container {
  background-color: #276089;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-section img {
  max-width: 100%;
  height: auto;
  width: 70%;
  border-radius: 50%;
  border: 5px solid #fff;
  transition: transform 0.3s ease;
}

.left-section img:hover {
  transform: scale(1.05);
}

.arena-scores {
  .score-item {
    background-color: #48b906;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3d9d06;
    }
  }
}

.puzzle-details {
  margin-top: 20px;

  .part-header {
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }

  .puzzle-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #4caf50;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    td {
      color: #333;
    }
  }
}
