@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Lilita+One&family=Matemasie&display=swap');
.puzzle-arena-page {
  padding: 20px;
  background-color: #ffffff; // Light cyan background for a fresh look
  min-height: 100vh;
}

.puzzle-arena-container {
  background-color: #1d2246;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  color: #333;
  border: 2px solid #00bcd4; // Add a border to make it pop
}

.header {
  display: flex;
  text-align: center;
  margin-left: 20px;

  .header-image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-bottom: 10px;
  }

  .header-title {
    font-size: 3rem;
    color: #ffffff; // Bright blue for the header title
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-top:80px;
  }
}

.arena-scores {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;

  .score-item {
    background: #b3e5fc; // Light blue background
    border: 1px solid #81d4fa; // Slightly darker blue border
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;

    &:hover {
      background: #fffec0; // Darker blue on hover
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    &.active {
      background: #fffec0; // Even darker blue for active
      border-color: #0288d1;
    }

    .arena-name {
      font-weight: bold;
      margin-right: 12px;
      color: #000000; // Darker blue for text
    }

    .score-value {
      color: #0277bd; // Blue with higher contrast
      font-weight: bold;
    }
  }

  .total-score {
    padding: 11px;
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
  }
}

.puzzle-details {

  h3{
    color: white;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      border: 1px solid #b0bec5; // Soft grey border
      padding: 14px;
      text-align: center;
    }

    th {
      background-color: #b3e5fc; // Light blue header background
      font-weight: bold;
    }

    tr {
      background-color: #e1f5fe; // Alternating row color
    }

    tr:hover {
      background-color: #b3e5fc; // Light blue on hover
    }
  }

  .part-header {
    font-size: 1.6rem;
    color: #ffffff;
    cursor: pointer;
    margin: 12px 0;
    font-family: 'Montserrat', sans-serif;

    
    font-weight: 100;
    transition: color 0.3s;

    &:hover {
      color: #ffcf87;
    }
  }
}

.error-message {
  color: #d32f2f; // Red for error messages
  text-align: center;
  font-size: 1.4rem;
  margin: 20px 0;
}
