.account-page {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; // increased height
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 30px;
  color: #f9f6f6;
  font-weight: bold;
}

.account-header {
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(180deg, #FF0075, #8C52FF);
  color: white;
}

.courses-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 0;
  padding: 0;
}

.course-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 0;
  margin: 0;

  &:hover {
    transform: translateY(-10px);
  }
}

.course-image-container {
  position: relative;
  width: 95%;
  height: 150px;
}

.course-image {
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.status-button, .completion-button {
  font-size: 13px;
  padding: 10px 20px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 25px;
  cursor: pointer;
  margin-top: 50px;
  font-size: 15px;
  position: relative;
}

.status-button {
  &.Not-Started {
    background-color: rgb(224, 64, 43);
  }

  &.In-Progress {
    background-color: rgb(249, 233, 9);
    color: black;
  }

  &.Completed {
    color: white;
    background-color: rgb(40, 145, 40);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.completion-button {
  background-color: rgb(23, 69, 196);
  color: white;

  &:hover {
    opacity: 0.9;
  }
}

/* Tablet View */
@media (max-width: 1024px) {
  .courses-section {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablet */
  }

  h1 {
    font-size: 25px;
  }

  .course-image-container {
    height: 130px; /* Adjust image size */
  }

  .status-button, .completion-button {
    font-size: 12px;
    padding: 8px 16px; /* Adjust padding */
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .courses-section {
    grid-template-columns: 1fr; /* 1 column for mobile */
    grid-row-gap: 20px; /* Increase row gap */
  }

  h1 {
    font-size: 20px;
  }

  .course-image-container {
    height: 120px; /* Further adjust image size */
  }

  .status-button, .completion-button {
    font-size: 11px;
    padding: 6px 12px; /* Adjust padding for smaller screens */
  }
}
