@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Lilita+One&family=Matemasie&display=swap');

body {
  overflow-x: hidden; // Prevent horizontal scrolling
}

.hero {
  background-color: #2b87e2;
  max-width: 100vw; // Ensure the hero section doesn't exceed the viewport width
  overflow: hidden; // Prevent overflow

  .headers {
    text-align: center;
    // margin-bottom: 20px;

    h2 {
      text-align: center;
      margin: 0;
      font-size: 40px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      background: linear-gradient(90deg, #fdfdfd, #ffffff, #fcfcfc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      letter-spacing: 3px;
      animation: textGlow 1.5s ease-in-out infinite alternate;

      span {
        color: #06d6a0;
        font-size: 72px;
      }
    }}
    .journey-container {
      border: 2px solid #505050; /* Bright, playful border color */
      border-radius: 12px; /* Rounder corners for a softer look */
      padding: 5px; /* Space inside the border */
      margin: 20px 0; /* Space outside the border */
      background-color: #1d3557; 
      font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun, kid-friendly font */
      color: #f9fbfb;
    }

  .journey {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .level {
      width: 100%; // Full width for mobile
      padding: 20px;
      background-color: #1d3557; // Darker background for contrast
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

      h3 {
        color: #ffffff;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .steps {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        .step {
          display: flex;
          align-items: center; // Align items to the start
          background-color: #a8dadc;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          padding:5px; // Add padding for better spacing
          border-radius: 5px;

          .icon {
            flex-shrink: 0;
            width: 100px;
            height: 170px;
          }

          h4 {
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            color: #1d3557;
          }

          .level-description {
            font-size: 16px;
            color: #457b9d;
            overflow: hidden; // Prevent overflow
          
          
            @media (max-width: 768px) {
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
          
              &.expanded {
                display: block;
                -webkit-line-clamp: unset; // Remove clamping for mobile view when expanded
              }
            }
          }
          
        }
      }

      button {
        background-color: #f26722; // Button color
        color: white; // Text color
        border: none;
        padding: 8px 25px;
        font-size: 12px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
          background-color: #d45d1a; // Darker shade on hover
        }
      }
    }
  }
  .chess-journey {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
  
    .level {
      display: flex;
      align-items: center;
      justify-content: space-between; // Space icons evenly
      background-color: #a8dadc;    
      padding: 10px;
      border-radius: 10px;
      width: 100%; // Ensure the level container spans the entire width
      gap: 20px; // Reduced gap for mobile
      position: relative;
      z-index: 1;
      color: black;
  
      .step {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
        // padding: 10px;
        overflow: hidden;
  
        .icon {
          width: 100px;
          height: 100px;
          border: 3px solid #fff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 80px;
          margin-bottom: 10px;
          background-color: #2b87e2;
          z-index: 2; /* Ensure the icon is above the line */
        }
    
        p {
          font-size: 10px;
          font-weight: bold;
        }
    
        &.active {
          .icon {
            background-color: #f26722;
            cursor: pointer;
          }
          &:hover {
             transform: scale(1.05); // Slightly increase size for emphasis
            transition: background-color 0.3s, transform 0.3s; // Smooth transition
          }
        }
      }
    }
  
    .connector {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 10px;
      z-index: 1;
      transform: translateY(-100%);
      
    }
    
    .chess-icon {
      width: 130px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      padding: 10px;
    }
  }
  
}
@media (max-width: 768px) {
  .hero {
    .headers {
  h2 {
    font-size: 20px; 
    font-weight: bold;
  }
}
  

.chess-journey {
  flex-direction: column; // Vertical layout for mobile

  .level {
    flex-direction: column; // Stack levels vertically
    align-items: center; // Center the items
    gap: 0; // Ensure no gap between levels

    .step {
      flex-direction: column; // Stack icon and text vertically
      align-items: center; // Center align vertically
      margin: 0; // Remove any margin for the step
      padding: 0; // Remove padding for the step

      p {
        display: none; // Hide the text in mobile view
      }

      .icon {
        width: 300px; // Adjusted size for mobile
        height: 80px; // Adjusted size for mobile
        border-radius: 0;
        background-color: transparent;
        border: none;
        padding: 0; // Remove padding to avoid gaps
        margin: 0; // Remove margin to avoid extra spaces

        img.chess-icon {
          border-radius: 0;
          gap: 0; // Ensure no gap between images
          padding: 0; // Remove any padding
          margin: 0; // Remove margin between images
          border: none;
          width: 100%; // Ensure the image takes full width of the container
          height: 90%; // Ensure the image takes full height of the container
          padding: 3px;
          &.pawn {
            content: url("/images/portal/1.png"); // Mobile version for pawn
          }
          &.knight {
            content: url("/images/portal/2.png"); // Mobile version for knight
          }
          &.bishop {
            content: url("/images/portal/3.png"); // Mobile version for bishop
          }
          &.rook {
            content: url("/images/portal/4.png"); // Mobile version for rook
          }
          &.queen {
            content: url("/images/portal/5.png"); // Mobile version for queen
          }
          &.king {
            content: url("/images/portal/6.png"); // Mobile version for king
          }
        }
      }

      p {
        font-size: 12px; // Slightly larger font for better readability
        margin: 0; // Ensure no additional margin
        padding: 0; // Ensure no padding
      }

      &.active {
        .icon {
          // padding: 3px;
          // border-radius: 4px;
          background-color: #f26722;
          cursor: pointer;
        }
      }
    }
  }
}
  }
 .connector {
   
  display: none;
} }