@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Lilita+One&family=Matemasie&display=swap');

body {
  overflow-x: hidden; // Prevent horizontal scrolling
}

.hero {
  background-color: #2b87e2;
  border-radius: 5px;
  padding: 20px;
  max-width: 100vw; // Ensure the hero section doesn't exceed the viewport width

  .headers {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      text-align: center;
      margin: 0;
      font-size: 40px; /* Larger font size */
      font-weight: bold; /* Bold text */
      font-family: 'Montserrat', sans-serif;
      background: linear-gradient(90deg, #fdfdfd, #ffffff, #fcfcfc); /* Gradient background */
      -webkit-background-clip: text; /* Clipping the background to text */
      -webkit-text-fill-color: transparent; 
      letter-spacing: 3px; /* More spacing between letters */
      animation: textGlow 1.5s ease-in-out infinite alternate; /* Glow animation */
      
      span {
        color: #06d6a0; /* Bright, contrasting color for dynamic text */
        font-size: 72px; /* Slightly larger for emphasis */
        animation: textGlow 1.5s ease-in-out infinite alternate; /* Same glow animation */
      }
    }
  }
  
  .journey-container {
    border: 2px solid #505050; /* Bright, playful border color */
    border-radius: 12px; /* Rounder corners for a softer look */
    padding: 20px; /* Space inside the border */
    margin: 20px 0; /* Space outside the border */
    background-color: #1d3557; 
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun, kid-friendly font */
    color: #f9fbfb; /* Contrasting text color for better readability */
  }
  
  .journey {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    .level {
      width: 100%; /* Full width for mobile */
      padding: 20px;
      background-color: #1d3557; /* Darker background for contrast */
      border-radius: 10px; /* Softer, rounded corners */
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  
      h3 {
        color: #ffffff;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }
  
      .steps {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Display in 1 column for mobile */
        gap: 20px; /* Space between each step */
      }
  
      .step {
        display: flex;
        align-items: center;
        background-color: #a8dadc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  
        .icon {
          flex-shrink: 0;
          width: 100px;
          height: 200px;
        }
  
        h4 {
          margin: 0;
          font-size: 20px;
          font-weight: bold;
          color: #1d3557;
        }
  
        p {
          margin: 1px 0 0 0;
          font-size: 16px;
          color: #457b9d;
        }
      }
    }
  }
}

.chess-journey {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;

  .level {
    display: flex;
    align-items: center;
    justify-content: space-between; // Space icons evenly
    background-color: #a8dadc;    
    padding: 10px;
    border-radius: 10px;
    width: 100%; // Ensure the level container spans the entire width
    gap: 20px; // Reduced gap for mobile
    position: relative;
    z-index: 1;
    color: black;

    .step {
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
      padding: 10px;
      overflow: hidden;

      .icon {
        width: 100px;
        height: 100px;
        border: 3px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        margin-bottom: 10px;
        background-color: #2b87e2;
        z-index: 2; /* Ensure the icon is above the line */
      }
  
      p {
        font-size: 10px;
        font-weight: bold;
      }
  
      &.active {
        .icon {
          background-color: #f26722;
        }
      }
    }
  }

  .connector {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 1;
    transform: translateY(-100%);
    
  }
  
  .chess-icon {
    width: 130px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
   
    .headers {
      
   
  h2 {
    font-size: 20px; 
    font-weight: bold;
  }
}
  }

  .chess-journey {
    flex-direction: column; // Change to vertical layout for mobile
    
    .level {
      flex-direction: column; // Stack levels vertically
      align-items: center; // Center the items
      gap: 10px; // Adjusted gap for mobile

      .step {
        flex-direction: column; // Ensure icon and text stack vertically
        align-items: center; // Center align vertically

        .icon {
          width: 80px; // Adjusted size for mobile
          height: 80px; // Adjusted size for mobile
          font-size: 50px; // Adjusted font size for mobile
          margin-bottom: 5px; // Reduced margin for mobile
        }
  
        p {
          font-size: 12px; // Slightly larger font for better readability
        }
      }
    }

    .connector {
      position: relative; // Adjusted to keep it in line with new layout
      height: calc(100% - 80px); // Adjust height for vertical alignment
      background-color: #fff; // Color for the connector
      display: none;
    }
    
    .chess-icon {
      width: 100px; // Adjusted size for mobile
      height: 80px; // Adjusted size for mobile
      padding: 5px; // Adjusted padding for mobile
    }
  }
  .journey {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    .level {
      width: 100%; /* Full width for mobile */
      padding: 20px;
      background-color: #1d3557; /* Darker background for contrast */
      border-radius: 10px; /* Softer, rounded corners */
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  
      h3 {
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }
  
      .steps {
        display: flex;
        flex-direction: column; /* Stacks steps vertically */
        gap: 20px; /* Space between each step */
      }
  
      .step {
        display: flex;
        flex-direction: column; /* Stacks icon and content vertically */
        align-items: center; /* Center-aligns content */
        background-color: #a8dadc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        padding: 2px; /* Adds padding around the step */
  
        .icon {
          width: 600px; /* Fixed width for the icon */
          height: 200px; /* Fixed height for the icon */
          margin-bottom: 0px; /* Spacing between icon and text */
          display: flex; /* Flexbox to center the icon */
          justify-content: center; /* Center horizontally */
          align-items: center; /* Center vertically */
  
          img {
            max-width: 100%; /* Ensures the image is responsive */
            height: 100%; /* Keeps aspect ratio */
          }
        }
  
        .content {
          text-align: center; /* Center-aligns text */
          
          h4 {
            margin: 0;
            font-size: 1px;
            font-weight: bold;
            color: #1d3557;
          }
  
          p {
            margin: 5px 0 0; /* Adjusts margin for paragraph */
            font-size: 1px;
            color: #457b9d;
          }
        }
      }
    }
  }
  
}
